<main>
  <section>
    <div class="px-4 pt-5 my-5 text-center">
      <h1 class="display-4 fw-bold">Faça sua reserva hoje mesmo!</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Encontre a acomodação perfeita para sua data especial a partir de R$ 99,99.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
          <%= render 'rooms/search_avail_rooms' %>
        </div>
      </div>
    </div>
  </section>
</main>
