<form action="/search">
  <div class="row">
    <div class="form-group col">
      <label for="inputCheck_in" >Check-in</label>
      <input class="form-control text-center" name="check-in" type="date">
    </div>
    <div class=" form-group col">
      <label for="inputCheck_out" >Check-out</label>
      <input class="form-control text-center" name="check-in" type="date">
    </div>
    <div class=" form-group col ">
      <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Buscar</button>
    </div>
  </div>
</form>
