<form action="/search">
  <div class="row">
    <div class="form-group col">
      <label for="check-in" >Check-in</label>
      <input class="form-control text-center" id="check-in" name="check_in" type="date">
    </div>
    <div class=" form-group col">
      <label for="check-out" >Check-out</label>
      <input class="form-control text-center" id="check-out" name="check_out" type="date">
    </div>
    <div class=" form-group col ">
      <button class="w-100 btn btn-lg btn-primary my-3" type="submit">Buscar</button>
    </div>
  </div>
</form>
