<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <% if current_user.Staff? %>
      <%= render "layouts/nav/dashboard/sidebar_staff" %>
    <% else %>
      <%= render "layouts/nav/dashboard/sidebar_client" %>
    <% end %>
  </div>
</nav>
